[database]
port = 3306
hostname = localhost
database = base
username = root
password = liukuiming
prefix = tb_

[redis]
host = localhost
port = 6379
password =
prefix = base_

[app]
name = base
env = local
debug = true
api_url = api.lkm.com
admin_url = admin.lkm.com

[sms]
open = false

