{include file="public/header" /}
<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i> 首页
    <span class="c-gray en">&gt;</span> 权限管理
    <span class="c-gray en">&gt;</span> 管理员列表
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>

<div class="pd-20">
    <div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l">
			<a class="btn btn-primary radius" data-title="添加管理员" onclick="edit('添加管理员', '{:url('admin/input')}')" href="javascript:void(0);"><i class="Hui-iconfont">&#xe600;</i> 添加管理员</a>
		</span>
        <span class="r">共有数据：<strong id="count">{$list->total()}</strong> 条</span>
    </div>
    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-sort">
            <thead>
            <tr class="text-c">
                <th width="50">ID</th>
                <th width="100">账号</th>
                <th width="100">管理员名称</th>
                <th width="120">登录次数</th>
                <th width="140">登录时间</th>
                <th width="120">操作</th>
            </tr>
            </thead>
            <tbody>
            {foreach name="list" item="v"}
            <tr class="text-c">
                <td>{$v.id}</td>
                <td>{$v.username}</td>
                <td>{$v.nickname}</td>
                <td>{$v.login_num}</td>
                <td>{$v.updated}</td>
                <td>
                    <a style="text-decoration:none" class="btn btn-success ml-5" onclick="edit('编辑管理员','/admin/input?id={$v.id}')" href="javascript:void(0);" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a>
                    {if $v.is_default == 0}
                    <a style="text-decoration:none" class="btn btn-danger ml-5" onclick="del('/admin/del', '{$v.id}')" href="javascript:void(0);" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a>
                    {/if}
                </td>
            </tr>
            {/foreach}
            </tbody>
        </table>
        <div class="page">{$list->render()}</div>
    </div>
</div>
{include file="public/footer" /}
