{include file="public/header" /}
<body>
<div class="pd-20">
  <form action="" method="post" class="form form-horizontal" id="form-add">

    <div class="row cl">
        <div class="formControls col-10">
            <textarea name="content_admin" cols="" rows="" class="textarea"  placeholder="说点什么..."></textarea>
        </div>
    </div>

    <div class="row cl">
      <div class="col-5 col-offset-0">
        <input type="hidden" value="{$id}" name="id">
        <input type="hidden" value="1" name="state">
        <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
      </div>
    </div>
  </form>
</div>
</div>
{include file="public/footer"}
<script type="text/javascript">
$(function(){
    //选择框
    $('.skin-minimal input').iCheck({
        checkboxClass: 'icheckbox-blue',
        radioClass: 'iradio-blue',
        increaseArea: '20%'
    });
//内容框name设置
var ue = UE.getEditor('editor',{'textarea':'content'});

$("#form-member-add").Validform({
    tiptype:2,
    ajaxPost:true,
    callback:function(data){
        setTimeout(function(){
            $.Hidemsg();
            if(data.status == 'y'){
                var index = parent.layer.getFrameIndex(window.name);
                parent.location.reload();
                parent.layer.close(index);
            }
        },1000);
    }
});
});
</script>

</body>
</html>