{include file="public/header" /}
<style>
    .withm{width: 50%}
    .selectwith{width: 30%}
    .upload-img{position:relative;}
    .upload-img input{opacity: 0;border: 1px solid red;width: 177px;height: 164px;position: absolute;z-index: 1;}
</style>
<script type="text/javascript" src="/static/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" src="/static/ueditor/1.4.3/ueditor.all.min.js"> </script>
<script type="text/javascript" src="/static/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
<article class="page-container">
    <form action="" method="post" class="form form-horizontal" id="form-add">
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-2">
                <span class="c-red">*</span>banner：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <div class="upload-img">
                    <input id="img-upload" type="file" name="img"  accept="image/*" >
                    <img id="img-show" src="/uploads/img/uploads.jpg" class="img-polaroid" width="250" height="444.7" alt="上传图片" title="上传图片">
                    上传图片大小:750px x 1334px
                </div>
            </div>
            <div class="col-4"> </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</article>

{include file="public/footer" /}

<script type="text/javascript">
    $(function(){
        //选择框
        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });
//内容框name设置
        var ue = UE.getEditor('editor',{'textarea':'content'});

        $("#form-member-add").Validform({
            tiptype:1,
            ajaxPost:true,
            callback:function(data){
                setTimeout(function(){
                    $.Hidemsg();
                    if(data.status == 'y'){
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.location.reload();
                        parent.layer.close(index);
                    }
                },1000);
            }
        });
    });
    $('#img-upload').change(function(e){
        var input = $("#img-upload");
        var file = input[0].files[0];//获取input上传的文件
        if(!file.name){
            alert("未选择图片");
        }else{
            //高版本浏览器对文件上传路径进行了安全处理，无法直接通过获取input的value进行访问，故转化为获取图片的url进行安全访问
            var url = window.URL.createObjectURL(file);//将上传的文件转化为url
            $("#img-show").attr('src', url);//更新img的src属性
        };
    });
</script>
<script>
    layui.use('upload', function(){
        var upload = layui.upload;
        //执行实例
        var uploadInst = upload.render({
            elem: '#test1' //绑定元素
            ,url: "{:url('/Upload/upload')}" //上传接口
            ,done: function(res){
                $("#img").attr("src",res.info);
                $("#himg").val(res.info);
            }
            ,error: function(){
                //请求异常回调
            }
        });
    });
</script>