{include file="public/header" /}
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 商城管理 <span class="c-gray en">&gt;</span> 商城列表 <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="pd-20">
	<form action="" method="get">
		<div class="text-c">
			  <span class="select-box inline">
				<select id="types" name="type" class="select" >
					<option value="0">=活动搜索=</option>
					{foreach $activity as $m}
					<option value="{$m['id']}" {if condition=" input('get.type') eq $m['id']"}selected{/if} >{$m['title']}</option>
					{/foreach}
				</select>
              </span>
    			<button type="submit" class="btn btn-success radius"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
		</div>
	</form>

	<div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l">
			<a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
		</span>
		<span class="r">共有数据：<strong id="count">{$count}</strong> 条</span> </div>
	<div class="mt-20">
		<table class="table table-border table-bordered table-hover table-bg table-sort">
			<thead>
			<tr class="text-c">
				<th width="25"><input type="checkbox" name="" value=""></th>
				<th width="40">ID</th>
				<th width="50">资讯图片</th>
				<th width="200">标题</th>
				<th width="50">用户id</th>
				<th width="50">姓名</th>
				<th width="100">手机号</th>
				<th width="100">添加时间</th>
				<th width="40">操作</th>
			</tr>
			</thead>
			<tbody>
			{volist name="list" id="v"}
			<tr class="text-c" id="tr{$v.id}">
				<td><input type="checkbox" value="{$v.id}" name="del[]"></td>
				<td>{$v.id}</td>
				<td style="padding: 0"><img src="{$v.bimg}" style="width: 60px;height: 60px;" onclick="showimg('{$v.bimg}')"></td>
				<td> {$v.btitle}</td>
				<td>{$v.user_id}</td>
				<td>{$v.name}</td>
				<td>{$v.phone}</td>
				<td>{$v.add_time}</td>

				<td class="td-manage">
 					<a style="text-decoration:none" class="btn btn-danger ml-5" onclick="member_del(this,{$v['id']})" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a>
 			</tr>
			{/volist}
			</tbody>
		</table>
		<div class="page">
			{:htmlspecialchars_decode($list->render())}
		</div>
	</div>
</div>
{include file="public/footer"}
<script>

	/*产品-删除*/
	function member_del(obj,id){
		layer.confirm('确认要删除吗？',function(index){
			$.post("/info/activity_del",{id:id},function(data){
				if(data.status == 'y'){
					layer.msg(data.info,{icon:1,time:3000});
					$(obj).parents("tr").remove();
					$("#count").text(data.count);
				}else{
					layer.msg(data.info,{icon:2,time:3000});
				}
			},'json');
		});
	}

	//批量删除
	function datadel(){
		var id='';
		$("input[name='del[]']:checked").each(function(){
			id += $(this).val()+',';
		});

		if(id == ''){
			layer.msg('还没选择!',{icon:2,time:1000});
			return false;
		}
		layer.confirm('确认要删除吗？',function(index){
			$.post("/info/activity_del",{id:id},function(data){
				if(data.status == 'y'){
					//循环当前选择的框
					$("input[name='del[]']:checked").each(function(){
						//删除当前选择的框
						$(this).parents('tr').remove();
					});
					layer.msg(data.info+'删除数量:'+data.count,{icon:1,time:3000});
					$("#count").text(data.count);
				}else{
					layer.msg(data.info,{icon:2,time:3000});
				}
			});
		});
	}
</script>
