{include file="public/header" /}
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 交易订单 <span class="c-gray en">&gt;</span> 接单分类 <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="pd-20">
	<div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l">
 			<a href="javascript:;" onClick="new_open('添加/编辑','/product/category_add?cat_id=0',900,700)" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加分类</a></span>

		<span class="r">共有数据：<strong id="count">{:count($list)}</strong> 条</span>
 </div>
	<div class="mt-20">
		<form action="{:url('category')}" method="post" id='sort-form'>
			<table class="table table-border table-bordered table-bg table-hover table-sort">
				<thead>
					<tr class="text-c">
						<th width="50">ID</th>
						<th  width="80">图片<br>[点击放大]</th>
						<th>分类名称</th>
						<th width="60">热门推荐</th>
						<th width="100">操作</th></tr>
				</thead>
				<tbody>
					{foreach name="list" item="v"}
						<tr class="text-c" id="tr{$v.cat_id}">
							<td>{$v.cat_id}</td>
							<td style="padding: 0">
								{if condition ="!empty($v.thumb)"}
								<img src="{$v.thumb}" style="width: 60px;height: 60px;" onclick="showimg('{$v.thumb}')">
								{else/}
								<div  style="width: 60px;height: 60px;"></div>
								{/if}
							</td>
							<td class="text-l">{:str_repeat('　　►', $v['level'])}&nbsp;{$v.cat_name}</td>
							<td>
								<img src="/static/Admin/images/icon_{$v['is_show']!=0?'right':'error'}_s.png" style="cursor:pointer;" onclick="toggle_status(this,{$v.cat_id},{$v.is_show},'product_category')">
							</td>
							<td>
 								<a style="text-decoration:none" class="btn btn-success ml-5" onClick="new_open('添加/编辑','/product/category_add?cat_id={$v['cat_id']}')" href="javascript:void(0);" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a>
								<a style="text-decoration:none" class="btn btn-danger ml-5" onclick="member_del(this,{$v['cat_id']})" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a>

							</td>
						</tr>
					{/foreach}
				</tbody>
			</table>
		</form>
	</div>
</div>
{include file="public/footer"}
<script type="text/javascript">
/*产品-添加*/
function article_add(title,url,w,h){
	layer_show(title,url,w,h);
}
/*显示隐藏切换*/
function toggle_status(obj,id,status,table,field){
	var news_status = status == 1 ? 0 : 1;
	if(typeof(field) == 'undefined'){
		field = 'is_show';
	}
	$.post("<?php echo url('Base/toggle_status'); ?>",{id:id,status:news_status,table,field:field},function(data){
		// if(data == 0){
			layer.msg('操作成功!',{icon:6,time:1000});
			if(news_status == 1){
				src="/static/Admin/static/h-ui/images/validform/iconpic-right.png";
			}else{
				src="/static/Admin/static/h-ui/images/validform/iconpic-error.png";
			}
			$(obj).attr('src',src).attr('onclick',"toggle_status(this,"+id+","+news_status+",'"+table+"','"+field+"')");
		// }else{
		// 	layer.msg('操作失败了!',{icon:5,time:1000});
		// }
	});
}
/*-删除*/
function member_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$.post("{:url('category_del')}",{id:id},function(data){
			if(data.status == 'y'){
				//删除自己
				$(obj).parents("tr").remove();
				//数量赋值
				$("#count").text(data.count);
				layer.msg(data.info,{icon:1,time:1000});
				//children的长度
				for(var i=0;i<data.children.length;i++){
					$("#tr"+data.children[i]).remove();
				}
			}else{
				layer.msg(data.info,{icon:2,time:1000});
			}
		},'json');
	});
}


//批量删除
function datadel(){
 var id='';
 $("input[name='del[]']:checked").each(function(){
 	id += $(this).val()+',';
 });
 if(id == ''){
 	layer.msg('必须选择分类哦!',{icon:2,time:1000});
 	return false;
 }

 layer.confirm('确认要删除吗？',function(index){
 	$.post("{:url('category_del')}",{id:id},function(data){
			if(data.status == 'y'){
				$("input[name='del[]']:checked").each(function(){
 					$(this).parents('tr').remove();
 					//children的长度
					for(var i=0;i<data.children.length;i++){
						$("#tr"+data.children[i]).remove();
					}
 				});
 				//数量赋值
				$("#count").text(data.count);
				layer.msg(data.info,{icon:1,time:1000});
			}else{
				layer.msg(data.info,{icon:2,time:1000});
			}
	});
 });
}
</script>
</body>
</html>