{include file="public/header" /}
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 产品管理 <span class="c-gray en">&gt;</span> 产品列表 <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="pd-20">
	<form action="" method="get">
		<div class="text-c">
			<span class="select-box inline">
				<select id="pay_state" name="pay_state" class="select">
					<option value="0">=付款类型=</option>
					{foreach $paytype as $fv}
						<option value="{$fv['type']}" {if condition=" input('get.pay_state') eq $fv['type']"}selected{/if} >{$fv['name']}</option>
					{/foreach}
				</select>
            </span>
			<span class="select-box inline">
				<select id="types" name="type" class="select">
					<option value="0">=发货类型=</option>
					{foreach $info as $f}
						<option value="{$f['type']}" {if condition=" input('get.type') eq $f['type']"}selected{/if} >{$f['name']}</option>
					{/foreach}
				</select>
            </span>
			日期范围：
			<input type="text" onfocus="WdatePicker({lang:'zh-tw'})" value="{:input('get.start')}" name="start" id="datemin" class="input-text Wdate" style="width:120px;" readonly> -
			<input type="text" onfocus="WdatePicker({lang:'zh-tw'})" value="{:input('get.end')}" name="end" id="datemin" class="input-text Wdate" style="width:120px;" readonly>
			<input type="text" class="input-text" style="width:250px" placeholder="商品名称|订单号|收货人姓名" value="{:input('get.word')}" name="word">
			<button type="submit" class="btn btn-success radius"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
		</div>
	</form>

	<div class="cl pd-5 bg-1 bk-gray mt-20">
		<!--<span class="l"><a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> <a href="javascript:;" onclick="product_add('添加产品','{:url('product_add')}')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加产品</a></span> -->
	<span class="r">共有数据：<strong id="count">{$count}</strong> 条</span> </div>
	<div class="mt-20">
	<table class="table table-border table-bordered table-hover table-bg table-sort">
		<thead>
			<tr class="text-c">
				<!--<th width="80">ID</th>-->
				<th width="50">订单号</th>
				<th width="50">商品图片<br>[点击放大]</th>
				<th width="80">商品名称 </th>
				<th width="80">用户id<br>用户名</th>
				<th width="60">收货人姓名<br>电话</th>
				<th width="40">单价<br>[积分]</th>
				<th width="40">购买数量</th>
				<th width="40">总价<br>[积分]</th>
				<th width="100">地址</th>
				<!--<th width="50">手机</th>-->
				<th width="50">
				支付方式</br>
				订单状态</br>
				支付状态</br>
				发货状态</br>
				</th>
				<!--<th width="30">支付方式</th>-->
				<!--<th width="30">支付状态</th>-->
				<!--<th width="30">发货状态</th>-->
				<th width="100">添加时间</th>
				<th width="30">编辑</th>
			</tr>
		</thead>
		<tbody>
			{volist name="list" id="v"}
				<tr class="text-c" id="tr{$v.order_id}">
					<td>{$v.order_sn}
					</td>
					<td><img src="{$v.thumb}" style="width: 60px;height: 60px;" onclick="showimg('{$v.thumb}')"></td>
					<td>{$v.shopname}</td>
					<td>{$v.user_id}<br>
						{$v.username}
					</td>
					<td>{$v.name}<br>
						{$v.mobile}
					</td>
					<td>{$v.price}</td>
					<td>{$v.num}</td>
					<td>{$v.all_price}</td>
					<td>
						{if condition="$v.province eq  '自提'"}
						 <span class="label label-primary radius"  style="background-color: #8C7853">自提</span>
						{else/}
							{$v.province}<br>
							{$v.city}<br>
							{$v.area}<br>
							{$v.address}
						{/if}
					</td>
					<!--<td>{$v.mobile}</td>-->
					<td>
						{switch name="$v.pay"}
						{case value="1"} <span class="label label-primary radius"  style="background-color: #8C7853">余额</span>  {/case}
						{case value="2"} <span class="label label-primary radius" style="background-color: #DAA520">卷</span> {/case}
						{case value="3"} <span class="label label-primary radius" style="background-color: #DAA520">豆豆</span> {/case}
						{/switch}
						<br>
						{switch name="$v.state"}
						{case value="0"} <span class="label label-primary radius">提交</span>  {/case}
						{case value="1"} <span class="label label-primary radius">确认</span> {/case}
						{case value="2"} <span class="label label-primary radius">取消</span> {/case}
						{/switch}
						</br>
						{switch name="$v.pay_state"}
						{case value="0"} <span class="label label-primary radius">未付款</span>  {/case}
						{case value="1"} <span class="label label-primary radius"  {if condition="$v.shipping_state == 0"} style="background-color: red"{/if}>已付款</span> {/case}
						{/switch}
						</br>
						{switch name="$v.shipping_state"}
						{case value="0"} <span class="label label-primary radius" {if condition="$v.pay_state == 1"} style="background-color: red"{/if}>未发货</span>  {/case}
						{case value="1"} <span class="label label-primary radius">已发货</span> {/case}
						{case value="2"} <span class="label label-primary radius" >已收货</span> {/case}
						<!--{case value="3"} <span class="label label-primary radius">已退货</span> {/case}-->
						{/switch}
					</td>


					<td>{$v.add_time}</td>

					<td class="td-manage">
						<a style="text-decoration:none" class="btn btn-success ml-5" onClick="new_open('编辑','/product/order_status?uid={$v['order_id']}',400,300)" href="javascript:void(0);" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a>
					</td>
				</tr>
			{/volist}
		</tbody>
	</table>
	<div class="page text-r mt-10">
		{$page}
	</div>
	</div>
</div>
{include file="public/footer"}
<script type="text/javascript">

/*产品-添加*/
function member_add(title,url,w,h){
    layer_show(title,url,w,h);
}
function product_add(title,url,w,h){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}



/*产品-删除*/
function member_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$.post("{:url('product_del')}",{id:id},function(data){
			if(data.status == 'y'){
				layer.msg(data.info,{icon:1,time:1000});
				$(obj).parents("tr").remove();
				$("#count").text(data.count);
			}else{
				layer.msg(data.info,{icon:2,time:1000});
			}
		},'json');
	});
}

//批量删除
function datadel(){
 var id='';
 $("input[name='del[]']:checked").each(function(){
 	id += $(this).val()+',';
 });

 if(id == ''){
 	layer.msg('还没选择!',{icon:2,time:1000});
 	return false;
 }
 layer.confirm('确认要删除吗？',function(index){
 	$.post("{:url('product_del')}",{id:id},function(data){
		if(data.status == 'y'){
			//循环当前选择的框
			$("input[name='del[]']:checked").each(function(){
				//删除当前选择的框
				$(this).parents('tr').remove();
			});
			layer.msg(data.info,{icon:1,time:1000});
			$("#count").text(data.count);
		}else{
			layer.msg(data.info,{icon:2,time:1000});
		}
	});
 });
}
/*产品-相册*/
function article_edit(title,url,id,w,h){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
</script>
</body>
</html>