{include file="public/header" /}
<article class="page-container">
    <form action="" method="post" class="form form-horizontal" id="form-add">

        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-2"><span class="c-red">*</span>等级：</label>
            <div class="formControls col-xs-8 col-sm-9">
                 <select name="level" class="input-text" style="width: 40%;">
                     {foreach $level_type as $c}
                     <option value="{$c.bd_level}" {if condition="$c.bd_level eq $row['bd_level']"}selected{/if} >{:leveltype($c.bd_level)}</option>
                     {/foreach}
                 </select>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-2">
                <span class="c-red">*</span>报单数量：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text"  style="width: 40%;" class="input-text" name="bd_num" placeholder="" value="{$row.bd_num|default=''}" datatype="*" nullmsg="请填写数量">
            </div>
            <div class="col-4"> </div>
        </div>

        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input type="hidden" value="{$row.id|default=''}" name="id">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</article>

{include file="public/footer" /}
<script type="text/javascript">
$(function(){
    $("#form-add").validate({
        rules:{
            username:{
                required:true,
                maxlength:16
            },
        },
        onkeyup:false,
        focusCleanup:true,
        success:"valid",
        submitHandler:function(form){
            $(form).ajaxSubmit({
                success:function(data){
                    console.log(data);
                    if(data.status == 0){
                        layer.msg("操作成功",{icon:1,time:1000,shade: [0.3, '#000']},function(){
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.location.reload();
                            parent.layer.close(index);
                        });
                    }else{
                        layer.msg(data.info,{icon:2,time:1000,shade: [0.3, '#000']});
                    }
                },
                error:function(error){
                      layer.msg('系统发生了错误',{icon:2,time:3000,shade: [0.5, '#FF0000']});
                }
            });

        }
    });
});
</script> 
